[submodule "js-sdk-core"]
	path = js-sdk-core
	url = git@github.com:mapconductor/js-sdk-core.git
[submodule "js-sdk-react"]
	path = js-sdk-react
	url = git@github.com:mapconductor/js-sdk-react.git
[submodule "react-for-googlemaps"]
	path = react-for-googlemaps
	url = git@github.com:mapconductor/react-for-googlemaps.git
[submodule "react-for-maplibre"]
	path = react-for-maplibre
	url = git@github.com:mapconductor/react-for-maplibre.git
[submodule "reactnative-for-googlemaps"]
	path = reactnative-for-googlemaps
	url = git@github.com:mapconductor/reactnative-for-googlemaps.git
[submodule "reactnative-for-maplibre"]
	path = reactnative-for-maplibre
	url = git@github.com:mapconductor/reactnative-for-maplibre.git
[submodule "react-geojson-layer"]
	path = react-geojson-layer
	url = git@github.com:mapconductor/react-geojson-layer.git
[submodule "react-heatmap"]
	path = react-heatmap
	url = git@github.com:mapconductor/react-heatmap.git
[submodule "react-icons"]
	path = react-icons
	url = git@github.com:mapconductor/react-icons.git
[submodule "react-marker-clustering"]
	path = react-marker-clustering
	url = git@github.com:mapconductor/react-marker-clustering.git
[submodule "react-for-leaflet"]
	path = react-for-leaflet
	url = git@github.com:mapconductor/react-for-leaflet.git
[submodule "react-for-here"]
	path = react-for-here
	url = git@github.com:mapconductor/react-for-here
[submodule "reactnative-for-here"]
	path = reactnative-for-here
	url = git@github.com:mapconductor/reactnative-for-here
[submodule "react-for-arcgis"]
	path = react-for-arcgis
	url = git@github.com:mapconductor/react-for-arcgis
[submodule "react-for-cesium"]
	path = react-for-cesium
	url = git@github.com:mapconductor/react-for-cesium
[submodule "react-for-mapbox"]
	path = react-for-mapbox
	url = git@github.com:mapconductor/react-for-mapbox
