[submodule "js-sdk-core"]
	path = js-sdk-core
	url = https://github.com/mapconductor/js-sdk-core.git
[submodule "js-sdk-react"]
	path = js-sdk-react
	url = https://github.com/mapconductor/js-sdk-react.git
[submodule "react-for-googlemaps"]
	path = react-for-googlemaps
	url = https://github.com/mapconductor/react-for-googlemaps.git
[submodule "react-for-maplibre"]
	path = react-for-maplibre
	url = https://github.com/mapconductor/react-for-maplibre.git
[submodule "reactnative-for-googlemaps"]
	path = reactnative-for-googlemaps
	url = https://github.com/mapconductor/reactnative-for-googlemaps.git
[submodule "reactnative-for-maplibre"]
	path = reactnative-for-maplibre
	url = https://github.com/mapconductor/reactnative-for-maplibre.git
[submodule "react-geojson-layer"]
	path = react-geojson-layer
	url = https://github.com/mapconductor/react-geojson-layer.git
[submodule "react-heatmap"]
	path = react-heatmap
	url = https://github.com/mapconductor/react-heatmap.git
[submodule "react-icons"]
	path = react-icons
	url = https://github.com/mapconductor/react-icons.git
[submodule "react-marker-clustering"]
	path = react-marker-clustering
	url = https://github.com/mapconductor/react-marker-clustering.git
